.managerLandingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.managerButton {
    padding: 20px;
    width: 300px;
    height: 200px;
}