.managerLandingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 25px;
}

.managerButton {
    padding: 20px;
    width: 450px;
    height: 100px;
}

.headToText {
    margin-bottom: 20px;
}

.manager-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 3px 6px #00000023;
}
