.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 2em 0;
}

.headertext {
    font-style: italic;
    font-size: 1em;
    margin-bottom: 20px;
}

.welcomeBox {
    margin-bottom: 1em;
    padding: 1em;
    font-size: 2em;
    border: 2px solid black;
}

.introText {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.bottomSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.middleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;  /* adjust this to change the space between the text and the button */
}