.staffLandingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.staffButton {
    padding: 20px;
    width: 400px;
    height: 100px;
}

.headToText {
    margin-bottom: 20px;
}

.staff-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 3px 6px #00000023;
}