.waitStaffContainer {
    width: 100%;
    height: 100vh;
    max-width: 1600px;
    margin: auto;
}

.waitStaffBody {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.toBeServed, .assistanceRequired {
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subheadings {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subheadings h3 {
    width: 33.33%;
    text-align: center; 
}


.orderBox, .requestBox {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    width: 100%;
}


.orderBox p, .requestBox p {
    width: 33.33%;
    text-align: center; 
}

.requestBox Button {
    margin-left: auto;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}